<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">En su dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let song of filesSong">
      <ion-label (click)="playSong()">{{ song.name }}</ion-label>
      <ion-buttons (click)="getOptions()">
        <ion-icon name="md-more"></ion-icon>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
